@page
@using Microsoft.AspNetCore.Mvc.Localization
@using My_ShopQuery.Contract.GeneralSetting
@model IndexModel
@inject IGeneralSettingQueryModel GeneralSetting
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}


@await Component.InvokeAsync("Slider")
<div class="wrapper">
    @await Component.InvokeAsync("AboutUs")
    <section class="skills-personal background-section p-relative section-padding section-margin" data-dsn-animate="sections">
        <div class="skills-inner container p-relative">
            <div class="container no-padding section-title-2">
                <h2>مهارت های ما</h2>
                <p>آنچه ما در آن بهترین هستیم</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="box-text">
                        <h3 class="title-h2 dsn-text">ما خدمات دیجیتالی هوشمند و انعطاف پذیر ارائه می دهیم</h3>

                        <div class="accordion">
                            <div class="accordion__wrapper">
                                <div class="accordion__item dsn-up">
                                    <div class="accordion__question p-relative">
                                        <h4 class="sm-title-block">طراحی وب سایت و اپلیکیشن تلفن همراه</h4>
                                    </div>
                                    <div class="accordion__answer">
                                        <p>لورم ایپسوم متن ساختگی با تولید، تمام روح من را تسخیر کرد، مانند این صبح های شیرین بهاری که با تمام وجود از آن لذت می برم.</p>
                                    </div>
                                </div>
                                <div class="accordion__item dsn-up">
                                    <div class="accordion__question p-relative">
                                        <h4 class="sm-title-block">موشن گرافیک و انیمیشن</h4>
                                    </div>
                                    <div class="accordion__answer">
                                        <p>لورم ایپسوم متن ساختگی با تولید، تمام روح من را تسخیر کرد، مانند این صبح های شیرین بهاری که با تمام وجود از آن لذت می برم.</p>
                                    </div>
                                </div>
                                <div class="accordion__item dsn-up">
                                    <div class="accordion__question p-relative">
                                        <h4 class="sm-title-block">تجربه کاربری</h4>
                                    </div>
                                    <div class="accordion__answer">
                                        <p>لورم ایپسوم متن ساختگی با تولید، تمام روح من را تسخیر کرد، مانند این صبح های شیرین بهاری که با تمام وجود از آن لذت می برم.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="skills-wapper">
                        <div class="skills-item">
                            <h4 class="sm-title-block">طراحی وب</h4>
                            <div class="bar">
                                <span class="fill" data-width="88%">
                                    <span class="number">88%</span>
                                </span>
                            </div>
                            <div class="tip"></div>
                        </div>

                        <div class="skills-item">
                            <h4 class="sm-title-block">برندسازی</h4>
                            <div class="bar">
                                <span class="fill" data-width="92%">
                                    <span class="number">92%</span>
                                </span>
                            </div>
                            <div class="tip"></div>
                        </div>

                        <div class="skills-item">
                            <h4 class="sm-title-block">انیمیشن / موشن</h4>
                            <div class="bar">
                                <span class="fill" data-width="80%">
                                    <span class="number">80%</span>
                                </span>
                            </div>
                            <div class="tip"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service service-3 section-margin dsn-animate" data-dsn-animate="section">
        <div class="container section-title-2">
            <h2>خدمات ما</h2>
            <p>آنچه ما انجام می دهیم</p>
        </div>

        <div class="container" data-dsn-animate="section">
            <div class="row">
                <div class="col-md-4 col-sm-6 service-content dsn-up">
                    <div class="services-item p-relative text-center background-section no-shadow">
                        <div class="bg-section background-section p-absolute w-100 h-100 over-hidden"></div>
                        <div class="box-content p-relative d-flex align-items-center h-100">
                            <div class="content-inner">
                                <div class="icon">
                                    <img src="assets/img/services/graph.svg" alt="" />
                                </div>

                                <div class="content">
                                    <h4 class="title-block">برنامه ریزی رسانه ای</h4>
                                    <p class="p-absolute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 service-content dsn-up">
                    <div class="services-item p-relative text-center background-section no-shadow">
                        <div class="bg-section background-section p-absolute w-100 h-100 over-hidden"></div>

                        <div class="box-content p-relative d-flex align-items-center h-100">
                            <div class="content-inner">
                                <div class="icon">
                                    <img src="assets/img/services/layout.svg" alt="" />
                                </div>

                                <div class="content">
                                    <h4 class="title-block">طراحی تجربه کاربری</h4>
                                    <p class="p-absolute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 service-content dsn-up">
                    <div class="services-item p-relative text-center background-section no-shadow">
                        <div class="bg-section background-section p-absolute w-100 h-100 over-hidden"></div>

                        <div class="box-content p-relative d-flex align-items-center h-100">
                            <div class="content-inner">
                                <div class="icon">
                                    <img src="assets/img/services/idea.svg" alt="" />
                                </div>

                                <div class="content">
                                    <h4 class="title-block">برندسازی</h4>
                                    <p class="p-absolute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 service-content dsn-up">
                    <div class="services-item p-relative text-center background-section no-shadow">
                        <div class="bg-section background-section p-absolute w-100 h-100 over-hidden"></div>
                        <div class="box-content p-relative d-flex align-items-center h-100">
                            <div class="content-inner">
                                <div class="icon">
                                    <img src="assets/img/services/graph.svg" alt="" />
                                </div>

                                <div class="content">
                                    <h4 class="title-block">برنامه ریزی رسانه ای</h4>
                                    <p class="p-absolute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 service-content dsn-up">
                    <div class="services-item p-relative text-center background-section no-shadow">
                        <div class="bg-section background-section p-absolute w-100 h-100 over-hidden"></div>

                        <div class="box-content p-relative d-flex align-items-center h-100">
                            <div class="content-inner">
                                <div class="icon">
                                    <img src="assets/img/services/layout.svg" alt="" />
                                </div>

                                <div class="content">
                                    <h4 class="title-block">طراحی تجربه کاربری</h4>
                                    <p class="p-absolute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 service-content dsn-up">
                    <div class="services-item p-relative text-center background-section no-shadow">
                        <div class="bg-section background-section p-absolute w-100 h-100 over-hidden"></div>

                        <div class="box-content p-relative d-flex align-items-center h-100">
                            <div class="content-inner">
                                <div class="icon">
                                    <img src="assets/img/services/idea.svg" alt="" />
                                </div>

                                <div class="content">
                                    <h4 class="title-block">برندسازی</h4>
                                    <p class="p-absolute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-work pt-section background-section section-margin dsn-arrow" data-dsn-col="3">
        <div class="container section-title-2">
            <h2>نمونه کارهای عالی</h2>
            <p>به دنبال ویژگی های با کیفیت</p>
        </div>

        <div class="container-fluid">
            <div class="work-container over-hidden">
                <div class="slick-slider">
                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="6">
                            <img class="cover-bg-img" src="assets/img/project/project3/1.jpg" alt="" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project3.html" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">معماری</h5>
                                <h4>آپارتمان سیاه</h4>
                                <p>
                                    نرم افزارهای مورد استفاده: تری دی مکس، رندر کرونا، میکسر کویکسل و فتوشاپ نور کلی HDRI، نورگیر کرونا و مواد ایجاد شده توسط مگااسکن ها و میکسر کویکسل.
                                </p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="2">
                            <img class="cover-bg-img" src="assets/img/project/project1/1.jpg" alt="" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project1.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">محصول</h5>
                                <h4>ساعت دیزل</h4>
                                <p>ناصر سعی می کند دیدگاه دیزل را منعکس کند و دنیای راک دهه 80 را با طراحی واضح و ضروری ترکیب می کند تا بیشتر باشد</p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="5">
                            <img class="cover-bg-img" src="assets/img/project/project4/1.jpg" alt="" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project4.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">هنر دیجیتال</h5>
                                <h4>عمدی</h4>
                                <p>پروژه مفهومی شخصی. با تامل در سبک شخصی خود در تصویرسازی نقاشی، درباره اینکه ایده های اولیه من درباره آن چه بود،</p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="5">
                            <img class="cover-bg-img" src="assets/img/project/project5/1.jpg" alt="" data-dsn-position="85%" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project5.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">مد، عکاسی</h5>
                                <h4>نسخه آبی</h4>
                                <p>عکس های رنگ صورتی برای مدل پرطرفدار در اوکراین.</p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="5">
                            <img class="cover-bg-img" src="assets/img/project/project2/1.jpg" alt="" data-dsn-position="38%" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project2.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">عکاسی</h5>
                                <h4>صفر بدون عنوان</h4>
                                <p>یک دوچرخه با طراحی زیبا از موتورسیکلت های زیرو SR/S. هوگو اکلز از موتورسیکلت های بدون عنوان چیزی فوق العاده برای چشم خلق کرده است.</p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="5">
                            <img class="cover-bg-img" src="assets/img/project/project6/1.jpg" alt="" data-dsn-position="57%" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project6.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">عکاسی ، عکاسی</h5>
                                <h4>ترکیب لیگ ملی فوتبال</h4>
                                <p>مجموعه ای از تصاویر مورد استفاده برای لیگ ملی فوتبال اندر ارمور لباس های معتبر را ترکیب می کند.</p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="7">
                            <img class="cover-bg-img" src="assets/img/project/project7/1.jpg" alt="" data-dsn-position="57%" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project7.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">ویدیو، معماری</h5>
                                <h4>تصاویر کامپیوتری خط استوا</h4>
                                <p>مجموعه ای از تصاویر مورد استفاده برای لیگ ملی فوتبال اندر ارمور لباس های معتبر را ترکیب می کند.</p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="work-item slick-slide p-relative over-hidden">
                        <div class="img-next-box p-absolute w-100 h-100" data-overlay="7">
                            <img class="cover-bg-img" src="assets/img/project/project8/1.jpg" alt="" data-dsn-position="34%" />
                        </div>
                        <div class="item-border p-absolute"></div>
                        <div class="item-info p-absolute">
                            <a href="project8.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                                <h5 class="cat">عکاسی</h5>
                                <h4>اتحادیه بومی</h4>
                                <p>عکاسی محصول | اتحادیه بومی مجموعه گل رز.</p>
                                <span><span>مشاهده پروژه</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="box-gallery-vertical box-gallery-content section-margin" data-dsn-animate="section" data-dsn-duration="100%" data-dsn="color">
        <div class="mask-bg"></div>
        <div class="container">
            <div class="row align-items-center h-100 dsn-z-index-2">
                <div class="col-lg-6 dsn-z-index-2">
                    <div class="box-im" data-dsn-grid="move-up">
                        <img class="has-top-bottom" src="assets/img/project/project1/1.jpg" alt="" data-dsn-move="20%" />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box-info">
                        <div class="title-cover" data-dsn-grid="move-section" data-dsn-opacity="0.1" data-dsn-duration="170%" data-dsn-move="0%">
                            دیزل
                        </div>
                        <div class="vertical-title">
                            <h2 class="dsn-text">ساعت دیزل</h2>
                        </div>
                        <div class="bg-mask-content dsn-up">
                            <div class="mask-bg-2 background-section"></div>
                            <h6 class="dsn-up">گاهی اوقات، ما نیاز داریم که زمان را بررسی کنیم، بدون اینکه گرفتار دیگران شویم، فکر کنیم کار یا جلسه ما چه زمانی تمام می شود.</h6>
                            <p class="dsn-up">
                                ناصر سعی می کند دیدگاه دیزل را منعکس کند و جهان راک دهه 80 را با طراحی واضح و ضروری ترکیب می کند تا با مشتریان خود که به نمادهای قوی نیاز دارند اعتماد به نفس بیشتری داشته باشد.
                            </p>
                        </div>

                        <div class="d-inline-block dsn-up">
                            <a href="#" class="link-custom d-flex a-item-center p-relative">
                                <span class="link-text">بارگذاری بیشتر</span>
                                <span class="link-circle p-absolute">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="testimonials-2 testimonials-3 testimonials-new section-margin">
        <div class="container h-100 testimonials-inner background-section p-relative">
            <div class="section-title-2" data-dsn-grid="move-section" data-dsn-move="-60" data-dsn-duration="100%" data-dsn-opacity="1" data-dsn-responsive="tablet">
                <h2>
                    بازخورد از <br />
                    مشتریان ما.
                </h2>
            </div>
            <div class="row align-items-center h-100">
                <div class="col-lg-3 col-md-4 p-0">
                    <div class="nav-container">
                        <div class="testimonials-nav">
                            <div class="testimonials-nav-item">
                                <div class="testimonials-nav-item-inner">
                                    <img src="assets/img/avatar/1.jpg" alt="" />

                                    <div class="info">
                                        <h5>وایکینگ لیوت</h5>
                                        <h6>بنیانگذار و مدیر عامل، ABC</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonials-nav-item">
                                <div class="testimonials-nav-item-inner">
                                    <img src="assets/img/avatar/2.jpg" alt="" />

                                    <div class="info">
                                        <h5>محمد صدری</h5>
                                        <h6>طراح موشن</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonials-nav-item">
                                <div class="testimonials-nav-item-inner">
                                    <img src="assets/img/avatar/3.jpg" alt="" />

                                    <div class="info">
                                        <h5>داوود</h5>
                                        <h6>طراح وب</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonials-nav-item">
                                <div class="testimonials-nav-item-inner">
                                    <img src="assets/img/avatar/4.jpg" alt="" />

                                    <div class="info">
                                        <h5>w0anerges</h5>
                                        <h6>بنیانگذار و مدیر عامل، ABC</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonials-nav-item">
                                <div class="testimonials-nav-item-inner">
                                    <img src="assets/img/avatar/1.jpg" alt="" />

                                    <div class="info">
                                        <h5>yancyv8</h5>
                                        <h6>مدیریت پروژه</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <div class="testimonials-main-content dsn-is-not-fade">
                        <div class="testimonials-item">
                            <div class="top-box">
                                <h5 class="sm-title-block">پشتیبانی مشتری</h5>

                                <p class="p-larg">
                                    "من عاشق طراحی هستم، واقعا به جزئیات می رسم. این الهام بخش من شد تا درباره طراحی وب بیشتر بیاموزم. کیفیت کد نیز عالی به نظر می رسد. بی صبرانه منتظر راه اندازی سایت خودم هستم. با تشکر از
                                    دیزاین گرید برای چنین برنامه عالی ای. ادامه بده"
                                </p>
                            </div>
                        </div>

                        <div class="testimonials-item">
                            <div class="top-box">
                                <h5 class="sm-title-block">کیفیت طراحی</h5>

                                <p class="p-larg">
                                    من عاشق طراحی هستم، واقعا به جزئیات می رسم. این الهام بخش من شد تا درباره طراحی وب بیشتر بیاموزم. کیفیت کد نیز عالی به نظر می رسد. بی صبرانه منتظر راه اندازی سایت خودم هستم. با تشکر از
                                    دیزاین گرید برای چنین برنامه عالی ای. ادامه بده
                                </p>
                            </div>
                        </div>

                        <div class="testimonials-item">
                            <div class="top-box">
                                <h5 class="sm-title-block">کیفیت طراحی</h5>
                                <p class="p-larg">
                                    از طراحی شیک و پشتیبانی مشتری کاملا راضی هستم! پیشنهاد: قالب می تواند با کمی سفارشی سازی بیشتر انجام شود، مانند انواع فونت های مختلف به عنوان مثال و گزینه های اشتراک گذاری اجتماعی در زیر
                                    هر پست برای اشتراک گذاری آسان
                                </p>
                            </div>
                        </div>

                        <div class="testimonials-item">
                            <div class="top-box">
                                <h5 class="sm-title-block">پشتیبانی مشتری</h5>
                                <p class="p-larg">
                                    این نه تنها یک قالب جالب است، که به من کمک کرد تا به سرعت وب سایتی ایجاد کنم که بسیار گران تر از هزینه آن به نظر می رسد، بلکه پشتیبانی فنی نیز دارد. وقتی در تنظیم یک قالب با مشکلاتی مواجه
                                    شدم، بچه ها از من حمایت کردند و هر کاری کردند تا بتوانم مشکلاتم را حل کنم.
                                </p>
                            </div>
                        </div>

                        <div class="testimonials-item">
                            <div class="top-box">
                                <h5 class="sm-title-block">پشتیبانی مشتری</h5>

                                <p class="p-larg">
                                    من همیشه تم فارست را مرور می کنم و به دنبال راه های جدیدی برای اصلاح سایت خود هستم. من به دلیل ظاهرش با این مورد برخورد کردم و بلافاصله آن را خریدم. من در اوایل چند مشکل داشتم، اما تیم
                                    پشتیبانی مطمئن شد که به موقع کمک می کند و اکنون بیش از حد راضی هستم.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("LatestArticels")

    <section class="brand-client section-margin">
        <div class="container section-title-2">
            <h2>
                موفقیت شما، <br />
                شهرت ما
            </h2>
            <p>مشتریان ما</p>
        </div>
        <div class="container">
            <div class="wapper-client">
                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/1.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/2.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/3.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/4.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/5.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/6.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/1.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="logo-box">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png"></div>
                    <img src="assets/img/logo/3.png" alt="" />

                    <div class="info">
                        <div class="content">
                            <div class="entry">
                                <div>
                                    <h5>گوگل</h5>
                                    <a href="#">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="next-up next-project p-relative section-padding">
    <div class="bg-section p-absolute w-100 h-100 over-hidden">
        <div class="h-100 before-z-index" data-dsn-grid="move-up" data-overlay="5">
            <img class="cover-bg-img has-top-bottom" src="assets/img/bg-2.jpg" alt="" />
        </div>
    </div>
    <div class="container-fluid p-relative dsn-z-index-2">
        <div class="row margin-lr-100">
            <div class="col-lg-6 col-md-7 offset-lg-6 offset-md-5">
                <div class="next-up-inner p-relative background-section">
                    <h2 class="title">
                        ما <br />
                        استخدام <br />
                        می کنیم!
                    </h2>
                    <a href="contact-2.html" class="btn background-theme p-relative effect-ajax" data-dsn="parallax"><span>تماس با ما</span></a>

                    <div class="infos d-flex a-item-center bd-highlight">
                        <div class="infos_content mr-auto">
                            دیدن کارهای <br />
                            بیشتر!
                        </div>
                        <div class="infos_button">
                            <a href="work.html" class="effect-ajax image-zoom" data-dsn="parallax"> نمونه کارها </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* @await Component.InvokeAsync("Slider")
@await Component.InvokeAsync("TimeLine")
@await Component.InvokeAsync("AboutUs")
@await Component.InvokeAsync("WhyChoose")
@await Component.InvokeAsync("Categories")
@await Component.InvokeAsync("LatestProduct")
@await Component.InvokeAsync("LatestArticles")
 *@
