@model My_ShopQuery.Contract.Slider.SliderQueryModel

<div class="main-slider demo-2 p-relative w-100 h-100-v over-hidden" data-dsn-header="parallax">
    <div class="bg-container" id="dsn-hero-parallax-img">
        <div class="slide-inner h-100">
            <div class="swiper-wrapper">
                <div class="slide-item swiper-slide">
                    <div class="image-bg cover-bg w-100 h-100" data-image-src="assets/img/project/project1/1.jpg" data-overlay="2"></div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block">
                                    <span>محصول</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project1.html" class="effect-ajax" data-dsn-ajax="slider">ساعت دیزل</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>رها توسلی</h5>
                                    <span>- 21 آبان 1401</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project1.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="description p-absolute d-flex a-item-center background-section">
                            <p>ناصر سعی می کند دیدگاه دیزل را منعکس کند و جهان راک دهه 80 میلادی را با یک تصویر واضح ترکیب کند.</p>
                        </div>
                    </div>
                </div>

                <div class="slide-item swiper-slide">
                    <div class="image-bg cover-bg w-100 h-100" data-image-src="assets/img/project/project6/1.jpg" data-overlay="5" data-dsn-position="57%"></div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block user-no-selection">
                                    <span>مد</span>
                                    <span>عکاسی</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project6.html" class="color-white effect-ajax" data-dsn-ajax="slider">ترکیب لیگ ملی فوتبال</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>امید قاسمی</h5>
                                    <span>- 21 آبان 1400</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project6.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="description p-absolute d-flex a-item-center background-section">
                            <p>مجموعه ای از تصاویر مورد استفاده برای لیگ ملی فوتبال اندر ارمور لباس های معتبر را ترکیب می کند. عکاسی</p>
                        </div>
                    </div>
                </div>

                <div class="slide-item swiper-slide">
                    <div class="image-bg cover-bg w-100 h-100" data-image-src="assets/img/project/project2/1.jpg" data-overlay="5" data-dsn-position="38%"></div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block user-no-selection">
                                    <span>عکاسی</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project2.html" class="color-white effect-ajax" data-dsn-ajax="slider">صفر بدون عنوان</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>وحید دلگشا</h5>
                                    <span>- 21 آبان 1399</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project2.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="description p-absolute d-flex a-item-center background-section">
                            <p>یک دوچرخه با طراحی زیبا از موتورسیکلت های زیرو SR/S. هوگو اکلز از موتورسیکلت های بدون عنوان چیزی فوق العاده برای چشم خلق کرده است.</p>
                        </div>
                    </div>
                </div>

                <div class="slide-item swiper-slide">
                    <div class="image-bg cover-bg w-100 h-100" data-image-src="assets/img/project/project5/1.jpg" data-overlay="5" data-dsn-position="58%"></div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block user-no-selection">
                                    <span>مد</span>
                                    <span>عکاسی</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project5.html" class="color-white effect-ajax" data-dsn-ajax="slider">نسخه آبی</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>رها توسلی</h5>
                                    <span>- 21 آبان 1398</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project5.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="description p-absolute d-flex a-item-center background-section">
                            <p>عکس های رنگ صورتی برای مدل پرطرفدار در اوکراین.</p>
                        </div>
                    </div>
                </div>

                <div class="slide-item swiper-slide">
                    <div class="image-bg cover-bg w-100 h-100" data-image-src="assets/img/project/project3/1.jpg" data-overlay="6"></div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block user-no-selection">
                                    <span>معماری</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project3.html" class="color-white effect-ajax" data-dsn-ajax="slider">آپارتمان سیاه</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>یاسمن جوزانی</h5>
                                    <span>- 21 آبان 1397</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project3.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="description p-absolute d-flex a-item-center background-section">
                            <p>نرم افزارهای مورد استفاده: تری دی مکس، رندر کرونا، میکسر کویکسل و فتوشاپ نور کلی HDRI</p>
                        </div>
                    </div>
                </div>

                <div class="slide-item swiper-slide">
                    <div class="image-bg cover-bg w-100 h-100" data-image-src="assets/img/project/project4/1.jpg" data-overlay="5"></div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block user-no-selection">
                                    <span>هنر دیجیتال</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project4.html" class="color-white effect-ajax" data-dsn-ajax="slider">عمدی</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>کیومرث زاهدی</h5>
                                    <span>- 21 آبان 1396</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project4.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="description p-absolute d-flex a-item-center background-section">
                            <p>پروژه مفهومی شخصی. در حال تامل در سبک شخصی من در تصویرسازی نقاشی.</p>
                        </div>
                    </div>
                </div>

                <div class="slide-item swiper-slide">
                    <div class="cover-bg h-100 w-100 p-absolute hidden" data-image-src="assets/img/project/project7/1.jpg" data-overlay="7"></div>
                    <div class="image-bg cover-bg w-100 h-100">
                        <div data-dsn="video" data-overlay="6">
                            <video class="bg-image cover-bg dsn-video" poster="assets/img/project/project7/1.jpg" autoplay loop muted>
                                <source src="http://theme.dsngrid.com/video/Equator.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block user-no-selection">
                                    <span>معماری</span>
                                    <span>ویدیو</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project7.html" class="color-white effect-ajax" data-dsn-ajax="slider">تصاویر کامپیوتری خط استوا</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>آرشویز روسی</h5>
                                    <span>- 21 آبان 1395</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project7.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide-item swiper-slide">
                    <div class="image-bg cover-bg w-100 h-100" data-image-src="assets/img/project/project8/1.jpg" data-overlay="7" data-dsn-position="34%"></div>
                    <div class="slide-content p-absolute h-100 w-100">
                        <div class="row align-items-center h-100">
                            <div class="content p-relative w-100">
                                <div class="metas d-inline-block user-no-selection">
                                    <span>عکاسی</span>
                                </div>
                                <h1 class="title user-no-selection">
                                    <a href="project8.html" class="color-white effect-ajax" data-dsn-ajax="slider">اتحادیه بومی</a>
                                </h1>

                                <div class="sub-text-header d-inline-block user-no-selection">
                                    <h5>غزل خجسته</h5>
                                    <span>- 21 آبان 1394</span>
                                </div>

                                <div class="dsn-button-link mt-30 user-no-selection">
                                    <a href="project8.html" class="link-custom effect-ajax d-flex a-item-center p-relative" data-dsn-ajax="slider">
                                        <span class="link-text">مشاهده مورد</span>
                                        <span class="link-circle p-absolute">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="description p-absolute d-flex a-item-center background-section">
                            <p>پروژه مفهومی شخصی. در حال تامل در سبک شخصی من در تصویرسازی نقاشی.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-next p-absolute nav-slider overflow-hidden header-no-scale-hero">
        <div class="swiper-wrapper" role="navigation"></div>
    </div>

    <div class="dsn-controls p-absolute d-flex a-item-center">
        <div class="dsn-numbers d-block text-center">
            <span>01</span>
        </div>

        <div class="dsn-progress p-relative">
            <div class="dsn-progress-indicator p-absolute w-100"></div>
        </div>

        <div class="dsn-numbers d-block text-center">
            <span class="full-number fw-blod">05</span>
        </div>
    </div>

    <div class="social-network-box text-center w-100-v">
        <div class="social-network">
            <ul>
                <li><a class="link-hover" href="#" data-hover-text="فیس بوک">فیس بوک</a></li>
                <li><a class="link-hover" href="#" data-hover-text="بیهانس">بیهانس</a></li>
                <li><a class="link-hover" href="#" data-hover-text="اینستاگرام">اینستاگرام</a></li>
            </ul>
        </div>
    </div>

    <div class="dsn-slider-content p-absolute h-100 w-100">
        <div class="content-slider margin-lr-100 p-relative w-100 h-100"></div>
    </div>
</div>
