@page
@model ServiceHost.Areas.Admin.Pages.General.SocialMedia.CreateModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "ایجاد درباره ما ";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ایجاد درباره ما</h3>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <div class="alert alert-danger">@Model.Message</div>
            }
            <div class="panel-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="file" class="inputFile" asp-for="Command.Icon" accept="image/*">
                            <span asp-validation-for="Command.Icon" class="error"></span>
                        </div>
                        <div class="col-md-8">
                            <div class="divPriw text-center">
                                <img id="preview" src="" alt="پیش‌ نمایش تصویر">
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Title" class="control-label">عنوان</label>
                                <input type="text" class="form-control" asp-for="Command.Title">
                                <span asp-validation-for="Command.Title" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Link" class="control-label">لینک</label>
                                <input type="text" class="form-control" asp-for="Command.Link" dir="ltr">
                                <span asp-validation-for="Command.Link" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <a asp-page="./Index" class="btn btn-danger btn-block btn-rounded waves-effect m-b-5">بازگشت</a>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success btn-block btn-rounded waves-effect m-b-5">ایجاد</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Css
{
    <link href="~/AdminTheme/assets/select2/select2.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/FileUploader/FileUpload.css" rel="stylesheet" type="text/css"/>
}

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>
    <script src="~/AdminTheme/assets/select2/select2.min.js" type="text/javascript"></script>
    <script src="~/AdminTheme/assets/FileUploader/FileUpload.js" type="text/javascript"></script>
    <script type="text/javascript">
         $(document).ready(function () {
            $('.persianDateInput').persianDatepicker({
                format: 'YYYY/MM/DD',
                autoClose: true
            });
             $('#datatable').dataTable();
                   CKEDITOR.replace('Command_Description', {
            height: 500
        });
          CKEDITOR.replace('Command_History', {
            height: 500
        });
         });
        jQuery(".select2").select2({
            width: '100%'
        });
    </script>
}