@model AccountManagement.Application.Contracts.Account.EditAccount
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش کاربر</h4>
</div>

<form asp-page="./Index" asp-page-handler="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <input type="hidden" class="form-control" asp-for="UserName">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">نام کاربری</label>
                            <input type="text" disabled class="form-control" asp-for="UserName">
                            <span asp-validation-for="UserName" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"> نام </label>
                            <input type="text" class="form-control" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"> نام خانوادگی </label>
                            <input type="text" class="form-control" asp-for="LastName">
                            <span asp-validation-for="LastName" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label">موبایل</label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" onchange="fillField('PhoneNumber', 'UserName')">
                            <span asp-validation-for="PhoneNumber" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">ایمیل</label>
                            <input type="email" class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="fs-3">نقش ها</p>
                @foreach (var role in Model.Roles)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="SelectedRoles" value="@role.Name" @(Model.SelectedRoles.Contains(role.Name) ? "checked" : "") />
                        <label class="form-check-label">@role.PersianName</label>
                    </div>
                }
                <span asp-validation-for="SelectedRoles" class="text-danger"></span>
            </div>
             <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <input type="file" class="inputFile" asp-for="ProfilePhoto" accept="image/*">
                        <span asp-validation-for="ProfilePhoto" class="error"></span>
                    </div>
                    <div class="col-md-8">
                        <div class="divPriw text-center">
                            <img id="preview" src="@Model.PictureString" alt="پیش‌ نمایش تصویر">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-danger btn-block btn-rounded waves-effect m-b-5" data-dismiss="modal">بستن</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-block btn-rounded waves-effect m-b-5">ویرایش</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function (e) {
            const [file] = e.target.files;
            if (file) {
                document.getElementById('preview').src = URL.createObjectURL(file);
            }
        });
    </script>
}


