@using System.Globalization
@using AccountManagement.Domain.Account.Agg
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using My_ShopQuery.Contract.SiteLogo
@model My_ShopQuery.Contract.Menu.MenuQueryModel
@inject IViewLocalizer Localizer
@inject ISiteLogoQueryModel LogoQueryModel
@inject UserManager<ApplicationUser> userManager


<div class="site-header">
    <div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end">
        <div class="inner-header p-relative">
            <div class="main-logo">
                <a href="index.html" data-dsn="parallax">
                    <img class="dark-logo" src="assets/img/logo-dark.png" alt="" />
                    <img class="light-logo" src="assets/img/logo.png" alt="" />
                </a>
            </div>
        </div>
        <div class="menu-icon d-flex align-items-baseline">
            <div class="text-menu p-relative font-heading text-transform-upper">
                <div class="p-absolute text-button">منو</div>
                <div class="p-absolute text-open">گشودن</div>
                <div class="p-absolute text-close">بستن</div>
            </div>
            <div class="icon-m" data-dsn="parallax">
                <span class="menu-icon-line p-relative d-inline-block icon-top"></span>
                <span class="menu-icon-line p-relative d-inline-block icon-center"></span>
                <span class="menu-icon-line p-relative d-block icon-bottom"></span>
            </div>
        </div>

        <nav class="accent-menu main-navigation p-absolute w-100 d-flex align-items-baseline">
            <div class="menu-cover-title">مـــــنو</div>

            <ul class="extend-container p-relative d-flex flex-column justify-content-center h-100">
                <li class="dsn-active dsn-drop-down">
                    <a href="#" class="user-no-selection">
                        <span class="dsn-title-menu">صفحه اصلی</span>
                        <span class="dsn-meta-menu">01</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>

                    <ul>
                        <li class="dsn-back-menu">
                            <img src="assets/img/right-chevron.svg" alt="" />
                            <span class="dsn-title-menu">صفحه اصلی</span>
                        </li>
                        <li>
                            <a href="index.html">
                                <span class="dsn-title-menu">تک صفحه 1</span>
                                <span class="dsn-meta-menu">01</span>
                            </a>
                        </li>
                        <li>
                            <a href="demo2.html">
                                <span class="dsn-title-menu">تک صفحه 2</span>
                                <span class="dsn-meta-menu">02</span>
                            </a>
                        </li>

                        <li>
                            <a href="demo3.html">
                                <span class="dsn-title-menu">تک صفحه 3</span>
                                <span class="dsn-meta-menu">03</span>
                            </a>
                        </li>

                        <li>
                            <a href="demo-video.html">
                                <span class="dsn-title-menu">تک صفحه 4</span>
                                <span class="dsn-meta-menu">04</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dsn-drop-down">
                    <a href="#" class="user-no-selection">
                        <span class="dsn-title-menu">اسلایدرها</span>
                        <span class="dsn-meta-menu">02</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>

                    <ul>
                        <li class="dsn-back-menu">
                            <img src="assets/img/right-chevron.svg" alt="" />
                            <span class="dsn-title-menu">اسلایدرها</span>
                        </li>
                        <li>
                            <a href="slider2.html">
                                <span class="dsn-title-menu">اسلایدر عمودی</span>
                                <span class="dsn-meta-menu">01</span>
                            </a>
                        </li>
                        <li>
                            <a href="slider-horizontal.html">
                                <span class="dsn-title-menu">اسلایدر افقی</span>
                                <span class="dsn-meta-menu">02</span>
                            </a>
                        </li>

                        <li>
                            <a href="slider3.html">
                                <span class="dsn-title-menu">اسلایدر 3 ستونه</span>
                                <span class="dsn-meta-menu">03</span>
                            </a>
                        </li>

                        <li>
                            <a href="slider.html">
                                <span class="dsn-title-menu">اسلایدر برشی</span>
                                <span class="dsn-meta-menu">04</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dsn-drop-down">
                    <a href="#" class="user-no-selection">
                        <span class="dsn-title-menu">نمونه کارها</span>
                        <span class="dsn-meta-menu">03</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>

                    <ul>
                        <li class="dsn-back-menu">
                            <img src="assets/img/right-chevron.svg" alt="" />
                            <span class="dsn-title-menu">نمونه کارها</span>
                        </li>
                        <li>
                            <a href="work.html">
                                <span class="dsn-title-menu">کار 3 ستونه</span>
                                <span class="dsn-meta-menu">01</span>
                            </a>
                        </li>
                        <li>
                            <a href="work-2.html">
                                <span class="dsn-title-menu">کار نسخه 2</span>
                                <span class="dsn-meta-menu">02</span>
                            </a>
                        </li>

                        <li>
                            <a href="gallery.html">
                                <span class="dsn-title-menu">گالری</span>
                                <span class="dsn-meta-menu">03</span>
                            </a>
                        </li>

                        <li>
                            <a href="work-grid-2.html">
                                <span class="dsn-title-menu">کار 2 ستونه</span>
                                <span class="dsn-meta-menu">04</span>
                            </a>
                        </li>

                        <li>
                            <a href="work-grid-4.html">
                                <span class="dsn-title-menu">کار 4 ستونه</span>
                                <span class="dsn-meta-menu">05</span>
                            </a>
                        </li>

                        <li>
                            <a href="work-load.html">
                                <span class="dsn-title-menu">کار بارگذاری بیشتر</span>
                                <span class="dsn-meta-menu">06</span>
                            </a>
                        </li>

                        <li>
                            <a href="work-4.html">
                                <span class="dsn-title-menu">کار افقی</span>
                                <span class="dsn-meta-menu">07</span>
                            </a>
                        </li>

                        <li>
                            <a href="work-3.html">
                                <span class="dsn-title-menu">کار کاروسل</span>
                                <span class="dsn-meta-menu">08</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dsn-drop-down">
                    <a href="#" class="user-no-selection">
                        <span class="dsn-title-menu">درباره</span>
                        <span class="dsn-meta-menu">04</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>

                    <ul>
                        <li class="dsn-back-menu">
                            <img src="assets/img/right-chevron.svg" alt="" />
                            <span class="dsn-title-menu">درباره</span>
                        </li>

                        <li>
                            <a href="about.html">
                                <span class="dsn-title-menu">درباره ما</span>
                                <span class="dsn-meta-menu">01</span>
                            </a>
                        </li>

                        <li>
                            <a href="about-2.html">
                                <span class="dsn-title-menu">درباره ما نسخه 2</span>
                                <span class="dsn-meta-menu">02</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dsn-drop-down">
                    <a href="#" class="user-no-selection">
                        <span class="dsn-title-menu">داستان ها</span>
                        <span class="dsn-meta-menu">05</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>

                    <ul>
                        <li class="dsn-back-menu">
                            <img src="assets/img/right-chevron.svg" alt="" />
                            <span class="dsn-title-menu">داستان ها</span>
                        </li>

                        <li>
                            <a href="blog.html">
                                <span class="dsn-title-menu">داستان ها</span>
                                <span class="dsn-meta-menu">01</span>
                            </a>
                        </li>

                        <li>
                            <a href="blog-grid.html">
                                <span class="dsn-title-menu">داستان ها شبکه ای</span>
                                <span class="dsn-meta-menu">02</span>
                            </a>
                        </li>

                        <li>
                            <a href="post.html">
                                <span class="dsn-title-menu">پست تکی</span>
                                <span class="dsn-meta-menu">03</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dsn-drop-down">
                    <a href="#" class="user-no-selection">
                        <span class="dsn-title-menu">تماس</span>
                        <span class="dsn-meta-menu">06</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>

                    <ul>
                        <li class="dsn-back-menu">
                            <img src="assets/img/right-chevron.svg" alt="" />
                            <span class="dsn-title-menu">تماس</span>
                        </li>

                        <li>
                            <a href="contact.html">
                                <span class="dsn-title-menu">تماس</span>
                                <span class="dsn-meta-menu">01</span>
                            </a>
                        </li>

                        <li>
                            <a href="contact-2.html">
                                <span class="dsn-title-menu">تماس نسخه 2</span>
                                <span class="dsn-meta-menu">02</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="container-content d-flex flex-column justify-content-end">
                <div class="nav__info">
                    <div class="nav-content">
                        <p class="title-line">
                            استدیو
                        </p>
                        <p>
                            ایران، تهران<br />
                            میدان آزادی، پلاک 1
                        </p>
                    </div>
                    <div class="nav-content">
                        <p class="title-line">
                            تماس
                        </p>
                        <p class="links over-hidden">
                            <a href="#" data-hover-text="09123456789" class="link-hover">09123456789</a>
                        </p>
                        <p class="links over-hidden">
                            <a href="#" data-hover-text="your@email.com" class="link-hover">your@email.com</a>
                        </p>
                    </div>
                </div>

                <div class="nav-social">
                    <div class="nav-social-inner p-relative">
                        <p class="title-line">
                            ما را دنبال کنید
                        </p>
                        <ul>
                            <li>
                                <a href="#" target="_blank" rel="nofollow">
                                    دریبل.
                                    <div class="icon-circle"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" rel="nofollow">
                                    بیهانس.
                                    <div class="icon-circle"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" rel="nofollow">
                                    لینکدین.
                                    <div class="icon-circle"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" rel="nofollow">
                                    توییتر.
                                    <div class="icon-circle"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="nav-border-bottom"></div>
        </nav>
    </div>
</div>