@using Microsoft.AspNetCore.Mvc.Localization
@model My_ShopQuery.Contract.Footer.FooterQueryModel
@inject IViewLocalizer Localizer

<footer class="footer-1 p-relative background-section">
    <div class="container">
        <div class="footer-links p-relative">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-block-inner">
                    <div class="footer-block">
                        <div class="footer-logo">
                            <a href="">
                                <img src="assets/img/logo.png" alt="" class="logo-dark" />
                                <img src="assets/img/logo-dark.png" alt="" class="logo-light" />
                            </a>
                        </div>

                        <div class="textwidget">
                            <p>ما از برنامه هایی حمایت می کنیم که فرصت های پیشرفت را برای مردم ایجاد می کنند.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-block-inner">
                    <div class="footer-block col-menu">
                        <h4 class="footer-title">ما را دنبال کنید</h4>

                        <div class="footer-social p-relative">
                            <ul>
                                <li class="over-hidden">
                                    <a href="#" data-dsn="parallax" target="_blank" rel="nofollow">دریبل.</a>
                                </li>
                                <li class="over-hidden">
                                    <a href="#" data-dsn="parallax" target="_blank" rel="nofollow">بیهانس.</a>
                                </li>

                                <li class="over-hidden">
                                    <a href="#" data-dsn="parallax" target="_blank" rel="nofollow">توییتر.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-block-inner">
                    <div class="footer-block col-contact">
                        <h4 class="footer-title">تماس</h4>
                        <p><strong>تلفن</strong> <span>:</span> 09123456789</p>
                        <p><strong>فکس</strong> <span>:</span>09123456789</p>
                        <p class="over-hidden"><strong>ایمیل</strong> <span>:</span><a class="link-hover" data-hover-text="your@email.com" href="#">your@email.com</a></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-block-inner">
                    <div class="col-address">
                        <h4 class="footer-title">نشانی</h4>

                        <p>
                            ایران<br />
                            تهران، میدان آزادی<br />
                            پلاک 1
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-nav">
        <div class="container">
            <ul>
                <li><a class="link-hover" data-dsn="parallax" href="#">صفحه اصلی</a></li>
                <li><a class="link-hover" data-dsn="parallax" href="#">نمونه کارها</a></li>
                <li><a class="link-hover" data-dsn="parallax" href="#">درباره</a></li>
                <li><a class="link-hover" data-dsn="parallax" href="#">اخبار</a></li>
                <li><a class="link-hover" data-dsn="parallax" href="#">تماس</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <div class="text-center">
            <p>© تمام حقوق محفوظ است.</p>
            <div class="copright-text over-hidden">
                فارسی و راستچین سازی شده توسط فرشید ترنیان
            </div>
        </div>
    </div>
</footer>