@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using My_Shop_Framework.Application
@inject IViewLocalizer Localizer

@model System.Collections.Generic.List<My_ShopQuery.Contract.Article.ArticleQueryModel>



<section class="our-blog our-blog-classic section-margin p-relative" data-dsn-animate="section">
    <div class="container section-title-2">
        <h2>اخبار ما</h2>
        <p>آخرین پست</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 dsn-up blog-classic-item">
                <div class="blog-item p-relative d-flex align-items-center h-100 w-100">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png">
                        <img src="assets/img/blog/1.jpg" alt="" class="cover-bg-img" />
                    </div>
                    <div class="box-content p-relative">
                        <div class="box-content-body">
                            <div class="entry-date">
                                <a href="#">21 آبان 1401</a>
                            </div>
                            <h4 class="title-block"><a href="#">آیا در اجلاس وابسته اروپا شرکت خواهید کرد؟</a></h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="#" class="link-vist p-relative">
                                <span class="link-vist-text">بارگذاری بیشتر</span>

                                <div class="link-vist-arrow">
                                    <svg viewBox="0 0 80 80">
                                        <polyline points="19.89 15.25 64.03 15.25 64.03 59.33"></polyline>
                                        <line x1="64.03" y1="15.25" x2="14.03" y2="65.18"></line>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 dsn-up blog-classic-item">
                <div class="blog-item p-relative blog-item-active d-flex align-items-center h-100 w-100">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png">
                        <img src="assets/img/blog/2.jpg" alt="" class="cover-bg-img" />
                    </div>
                    <div class="box-content p-relative">
                        <div class="box-content-body">
                            <div class="entry-date">
                                <a href="#">21 آبان 1401</a>
                            </div>
                            <h4 class="title-block"><a href="#">آیا در اجلاس وابسته اروپا شرکت خواهید کرد؟</a></h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="#" class="link-vist p-relative">
                                <span class="link-vist-text">بارگذاری بیشتر</span>

                                <div class="link-vist-arrow">
                                    <svg viewBox="0 0 80 80">
                                        <polyline points="19.89 15.25 64.03 15.25 64.03 59.33"></polyline>
                                        <line x1="64.03" y1="15.25" x2="14.03" y2="65.18"></line>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 dsn-up blog-classic-item">
                <div class="blog-item p-relative d-flex align-items-center h-100 w-100">
                    <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="assets/img/pattern.png">
                        <img src="assets/img/blog/3.jpg" alt="" class="cover-bg-img" />
                    </div>
                    <div class="box-content p-relative">
                        <div class="box-content-body">
                            <div class="entry-date">
                                <a href="#">21 آبان 1401</a>
                            </div>
                            <h4 class="title-block"><a href="#">آیا در اجلاس وابسته اروپا شرکت خواهید کرد؟</a></h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="#" class="link-vist p-relative">
                                <span class="link-vist-text">بارگذاری بیشتر</span>

                                <div class="link-vist-arrow">
                                    <svg viewBox="0 0 80 80">
                                        <polyline points="19.89 15.25 64.03 15.25 64.03 59.33"></polyline>
                                        <line x1="64.03" y1="15.25" x2="14.03" y2="65.18"></line>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>